[submodule "include/fc/crypto/webauthn_json"]
	path = include/fc/crypto/webauthn_json
	url = https://github.com/Tencent/rapidjson/
[submodule "secp256k1/secp256k1"]
	path = secp256k1/secp256k1
	url = https://github.com/bitcoin-core/secp256k1
[submodule "libraries/ff"]
	path = libraries/ff
	url = https://github.com/scipr-lab/libff
[submodule "libraries/SHA3IUF"]
	path = libraries/SHA3IUF
	url = https://github.com/brainhub/SHA3IUF
