[submodule "include/fc/crypto/webauthn_json"]
	path = include/fc/crypto/webauthn_json
	url = https://github.com/Tencent/rapidjson/
[submodule "secp256k1/secp256k1"]
	path = secp256k1/secp256k1
	url = https://github.com/bitcoin-core/secp256k1
[submodule "libraries/ff"]
	path = libraries/ff
	url = https://github.com/eosnetworkfoundation/libff
[submodule "libraries/libtommath"]
	path = libraries/libtommath
	url = https://github.com/libtom/libtommath
